Repository RedHatInsights/tangerine-frontend: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, jest-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.32.0
    hooks:
      - id: eslint
        files: '\.(js|jsx|ts|tsx)$'
        types: [file]
        additional_dependencies:
          - 'eslint@8.56.0'
          - 'eslint-config-react-app@^7.0.0'
          - '@typescript-eslint/eslint-plugin@^5.0.0'
          - '@typescript-eslint/parser@^5.0.0'
        args: ['--fix']

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write
        language: node
        files: '\.(js|jsx|ts|tsx|json|css|scss|md)$'
        additional_dependencies: [prettier@^3.0.0]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: jest-test
        name: jest test
        entry: npm test --
        language: system
        pass_filenames: false
        files: '\.(js|jsx|ts|tsx)$'
        args: ['--watchAll=false', '--passWithNoTests', '--ci']

Regenerate package-lock.json after merging all updates
  package-lock.json
Due: prettier

docs: Add Red Hat Konflux dependency management workflow
  CLAUDE.md
Due: prettier

fix: Revert TypeScript to v4.9.5 for react-scripts compatibility
  package-lock.json
  package.json
Due: prettier

docs: Add TypeScript compatibility note for react-scripts
  CLAUDE.md
Due: prettier

fix: Replace TextContent with Content for PatternFly v6 compatibility
  src/components/Header.js
  src/components/SearchInfo.js
  src/pages/Chat.js
Due: prettier, jest-test

docs: Document PatternFly v6 breaking changes
  CLAUDE.md
Due: prettier

fix: Replace Text and TextVariants with HTML elements for PatternFly v6
  src/components/Header.js
  src/components/SearchInfo.js
  src/pages/Chat.js
  src/pages/KnowledgeBase.js
Due: prettier, jest-test

docs: Add Text/TextVariants removal to PatternFly v6 breaking changes
  CLAUDE.md
Due: prettier

fix: Refactor Modal components for PatternFly v6 compatibility
  src/components/Main.js
  src/pages/Assistant.js
  src/pages/KnowledgeBase.js
  src/pages/KnowledgeBases.js
Due: prettier, jest-test

chore: Remove unused imports in Chat.js
  src/pages/Chat.js
Due: prettier, jest-test

docs: Document Modal API changes in PatternFly v6 breaking changes
  CLAUDE.md
Due: prettier

Combined konflux updates, changes for pf6 (#80)
  .pre-commit-config.yaml
  .tekton/tangerine-frontend-pull-request.yaml
  .tekton/tangerine-frontend-push.yaml
  CLAUDE.md
  package-lock.json
  package.json
  src/components/Header.js
  src/components/Main.js
  src/components/SearchInfo.js
  src/pages/Assistant.js
  src/pages/Chat.js
  src/pages/KnowledgeBase.js
  src/pages/KnowledgeBases.js
Due: prettier, jest-test

chore(deps): Combined dependency updates from red-hat-konflux (#90)
  .tekton/tangerine-frontend-pull-request.yaml
  .tekton/tangerine-frontend-push.yaml
  package-lock.json
Due: prettier

Add Kustomize base manifests
  deploy/base/deployment.yaml
  deploy/base/kustomization.yaml
  deploy/base/service.yaml
Due: none

feat: removed unavailbale task output
  .tekton/tangerine-frontend-pull-request.yaml
  .tekton/tangerine-frontend-push.yaml
Due: none

feat: update dependencies
  .pre-commit-config.yaml
  AGENTS.md
  CLAUDE.md
  Dockerfile
  package-lock.json
  package.json
  renovate.json
Due: prettier

feat: update dependencies (#105)
  .pre-commit-config.yaml
  AGENTS.md
  CLAUDE.md
  Dockerfile
  package-lock.json
  package.json
  renovate.json
Due: prettier

docs: contextify repository
  AGENTS.md
  ARCHITECTURE.md
  CLAUDE.md
  CONTRIBUTING.md
  README.md
Due: prettier

Fixing issue where knowledge bases cannot be removed
  src/pages/Assistant.js
Due: prettier, jest-test

glasswing: fix f002 — restrict citation_url href to http(s) schemes
  src/components/SearchInfo.js
  src/pages/KnowledgeBase.js
Due: prettier, jest-test

chore(deps): update Konflux pipeline tasks to trusted versions
  .tekton/tangerine-frontend-pull-request.yaml
  .tekton/tangerine-frontend-push.yaml
Due: none

Regenerate package-lock.json after merging main
  package-lock.json
Due: prettier

chore(deps): update @patternfly dependencies to v6.5.1
  package-lock.json
  package.json
Due: prettier

feat: update to red hat hardened images
  .dockerignore
  .pre-commit-config.yaml
  Dockerfile
  mise.toml
  package-lock.json
  package.json
  renovate.json
Due: prettier

feat: update to red hat hardened images (#114)
  .dockerignore
  .pre-commit-config.yaml
  Dockerfile
  mise.toml
  package-lock.json
  package.json
  renovate.json
Due: prettier
